[2012-12-12 19:09] jstasiak opened #1 "Lack of recent version in repository"
Apparently the version on http://pypi.python.org/pypi/Flask-Injector is more recent the the code that's in the repository (0.2.0 on PyPI vs 0.1.1 on Github)

[2012-12-13 04:50] #1 closed, assigned to nobody

[2013-07-28 22:58] jstasiak opened #4 "Travis builds"
Hey, can you enable Travis for this repository? I don't seem to be able to do that.

[2013-07-28 23:01] #4 closed, assigned to alecthomas

[2013-10-24 21:35] klinkin opened #5 "What is the best solution using flask-injector for dependent extensions of each other"
What is the best solution using flask-injector for dependent extensions of each other, for example flask-sqlalchemy and flask-security?

Ordinary simple code:

[code]

[2014-08-06 08:58] niax opened #6 "Doing multiple requests on a flask test client on an injected route fails for all but the first request."
All but the first call to the test client results in:

        Traceback (most recent call last):
          File "/home/nickh/env/local/lib/python2.7/site-packages/flask/app.py", line 1817, in wsgi_app
                response = self.full_dispatch_request()
          File "/home/nickh/env/local/lib/python2.7/site-packages/flask/app.py", line 1477, in full_dispatch_request
                rv = self

[2015-05-08 18:31] richburdon opened #8 "Class instance provider error"
The following fails with: injector.UnknownProvider: couldn't determine provider for <class __main__.Foo at 0x10952aa10> to <__main__.Foo instance at 0x10955b320>

class Foo:
    def __init__(self):
        pass

class TestModule(Module):
    def configure(self, binder):
        binder.bind(Foo, to=Foo())

app = flask.Flask(__name__)
FlaskInjector(app=app, modules=[
    TestModule
])

[2015-05-09 01:58] richburdon commented on #8
I got this working: classes must inherit from object, so class Foo(object): resolve the problem.

http://stackoverflow.com/questions/54867/what-is-the-difference-between-old-style-and-new-style-classes-in-python

[2015-05-09 01:58] #8 closed

[2015-07-17 11:08] plumzl opened #9 "Memory leak with eventlet enabled"
I'm experiencing memory leaks when using gunicorn eventlet workers.

Some digging shows me the leak comes from GreenThread objects not being released by RequestScope.
[code]
Here, the `self._local_manager.cleanup()`  pops the reference to the GreenThread object but `self._locals.scope = {}` adds the reference back to the `__storage__` dictionary held by `self._locals`, so GreenThread object is not

[2015-08-03 06:02] jstasiak commented on #9
Fixed by #11

[2015-08-03 06:02] #9 closed

[2015-09-28 20:53] richburdon opened #12 "Better error handling."
When something isn't bound the error message doesn't help you find what it is. E.g., below.

TypeError: __init__() takes exactly 2 arguments (1 given)

It would be really useful if the KEY or type that is not bound is somewhere in the error. It would also be useful to have a mechanism to list all of the bindings.

[2015-11-02 13:24] mtrofimm opened #13 "flask_restplus and flask_injector do not work together :("
I tried to use your library in my project together with flask_restplus.
There is an issue with handling swagger console.
Given the simple code:

[code]

if u get http://localhost:5000/swagger.json you receive::
injector.CallError: Call to SwaggerView.__init__() failed: __init__() missing 1 required positional argument: 'api' (injection stack: [])

[2015-11-02 22:34] jstasiak commented on #13
Hello @mtrofimm, would you mind providing the full stacktrace?

[2015-11-02 23:32] jstasiak commented on #6
To the best of my knowledge this is fixed so I'll close this issue. @niax please reopen if it doesn't work for you.

[2015-11-02 23:32] #6 closed

[2015-11-02 23:33] jstasiak commented on #5
@klinkin I'll close this issue as I believe it's resolved, please reopen or comment if you have any other questions.

[2015-11-02 23:33] #5 closed

[2015-11-02 23:49] mtrofimm commented on #13
sure. I noticed that there is the same stacktrace after http://localhost:5000/hello request :(

[code]

[2015-11-10 20:32] jstasiak commented on #12
@richburdon Can you share the source code to reproduce this and what versions of Injector and Flask-Injector are you using?

[2015-11-10 22:53] jstasiak commented on #13
@mtrofimm Please see https://github.com/alecthomas/flask_injector/commit/91a11254f67ac14ea935fa350c94cbe15df8ed25, it's now in the master branch. Can you test this version?

BTW, it's unrelated but your sample code is a bit off. I let myself correct it:

[code]

Note: since ``ToInject`` requires an argument in its constructor you need to create a provider for it and create an instance yourself (or

[2015-12-14 18:17] stevenhair opened #14 "KeyError: 'class_args' when testing with class-based views"
When running unittest with class-based views under Python 3.5 with flask_injector 0.6.2, I get the following error:

[code]

Here is code to reproduce the error:

app.py:
[code]

tests.py:
[code]

The problem seems to lie in injecting multiple times. Possibly related to https://github.com/alecthomas/flask_injector/issues/6?

Update: The offending line was indeed introduced in the fix for https://g

[2015-12-14 20:13] stevenhair commented on #14
Fix here: https://github.com/alecthomas/flask_injector/pull/15

[2016-03-04 21:29] roganov opened #16 "Support implicit injections via annotations"
Injector supports implicit via annotations using `use_annotations=True` flag (see https://github.com/alecthomas/injector/blob/master/injector_test_py3.py), would be nice to have this in flask_injector.

[2016-03-07 03:22] #13 closed

[2016-03-07 03:54] alecthomas commented on #16
I believe you can already do this by passing a pre-constructed `Injector` instance to the `FlaskInjector` constructor.

[2016-03-07 03:55] #14 closed

[2016-03-07 03:55] #12 closed

[2016-03-07 08:58] roganov commented on #16
@alecthomas Sorry, it seems that my issue was that `injector` doesn't inject functions with annotations-based dependencies. Class-based views seem to work.

[2016-03-07 09:30] alecthomas commented on #16
That's a bit surprising, I'll take a look.

[2016-03-23 19:56] jstasiak commented on #16
Yeah, well, Injector is not at fault here, the Flask/Injector integration layer does some things manually though and it doesn't do annotations at the moment - I have a working patch though so I'll release it after some cleanup.

[2016-03-23 20:49] jstasiak commented on #14
I actually think the issue is with the code you present because it seems to be creating multiple ``FlaskInjector`` instances with the same Flask application object which, while not explicitly disallowed, is not a supported use case and I recommend not doing it. I will think about raising an exception if situation like this is detected.

Using class-based views (whether in tests or in a "real" situ

[2016-03-24 19:39] roganov commented on #16
Haven't had a chance to try out yet, but it seems that the issue is resolve. Thanks @jstasiak!

[2016-03-24 19:39] #16 closed

[2016-03-31 16:30] stevenhair commented on #14
No, I completely agree with you. Injecting multiple times doesn't really make sense, which I figured out after spending more time with flask_injector/injector. I was actually going to close https://github.com/alecthomas/flask_injector/pull/15, but @alecthomas merged it in before I got around to closing it.

I agree that some sort of warning or exception would be probably be better and promote bett

[2016-05-27 15:25] gavinmh opened #17 "Flask extension support relies on pattern deprecated by Injector"
Hi all,

Injector has deprecated support for injecting into `Module.configure()` (https://github.com/alecthomas/injector/issues/31). This was the recommended pattern for working with Flask extensions (https://github.com/alecthomas/flask_injector#supporting-flask-extensions). Do you have any other recommendations for working with Flask extensions?

Thanks,
Gavin

[2016-05-27 15:52] gavinmh commented on #17
Never mind, the following works:
[code]

[2016-05-27 15:52] #17 closed

[2017-03-12 08:59] pdonorio commented on #17
Thanks for opening this issue as I have been struggling with the same error.

Wouldn't it be possible to fix the documentation to use the class instead of the function for configuring the module?

Thanks

[2017-03-14 17:39] jstasiak commented on #17
Thanks for the suggestion @pdonorio, updated now.

[2017-04-07 20:05] pdonorio opened #20 "Attributes set into initial bind seems to disappear"
Hi, I'm using injector, flask and flask-restful classes.

When I bind my object `obj` I set some models with meta syntax like:
[code]

If I check for this `obj.ModelName` before requests, they are there and fine.
When I recover with the injector inside the Flask-Restful init function the object, the model is not there anymore.

Unluckily my case is more complicated than this, but I wanted to ask f

[2017-04-08 00:45] jstasiak commented on #20
Hi, my first impression here would be that this is not expected, do you mind providing a minimal test case to reproduce this?

[2017-04-09 00:30] pdonorio commented on #20
Hi again,
I want to clarify that my app wants to inject a set of own flask extensions made by me of various services/db into any Flask-Restful class. Thereby to provide the minimal case I started an empty flask app with the simplest view that requires a flask extension following the README. And it didn't work :/.

I then noticed that there has been some changes since I started using the project (p

[2017-04-10 07:06] pdonorio commented on #20
While trying to reproduce my problem (and changing the way I used the extension) it disappeared. I will close this and reopen in case I find out.

I commented the commit with the error for the README.
Thank you!

[2017-04-10 07:06] #20 closed

[2017-06-19 13:07] sxamit opened #21 "flask_injector 0.9 doesn't work with injector 0.13.1"
injector dropped [use_annotation](https://github.com/alecthomas/injector/commit/fca50418a113e5036951a693f3becee9a8edbd1d) but flask injector still uses it.

flask injector automatically install injector 0.13.1 which causes errors

[2017-06-21 10:31] jstasiak commented on #21
Hi, thanks for the report. 0.10 has just been released and it handles this (just note that there are some backwards incompatible changes in that release[1])

[1] https://github.com/alecthomas/flask_injector/blob/master/CHANGELOG.rst#version-0100

[2017-06-21 10:31] #21 closed

[2018-01-20 04:31] mario-fuentes opened #22 "Rebind to a mock instance fail"
Hi

I'm trying to (re)bind an abstract class (who inherits from abc.ABC) to a mock instance created with MagicMock with the aim of test a class who inherits from MethodView, I'm doing to rebind calling FlaskInjector into the setUp() method:

[code]

And fail with an error:

[code]

I'm probably doing the rebind wrong.

[2018-01-20 06:16] alecthomas commented on #22
Have you tried this without MagicMock?

[2018-01-20 14:52] mario-fuentes commented on #22
I also tried with Mock and the same problem.  Commenting the last line of my sample code (the first call to FlaskInjector()) the code run fine, so I suppose that this way isn't the correct way to 'rebind'.  May be I need another approach for testing with some mocked classes.

[2018-01-20 22:44] jstasiak commented on #22
The problem is you attempt to use multiple `FlaskInjector` instances with different Injector configuration with a single Flask application, that won't work (we should probably raise a runtime exception when we detect that as it should be simple enough).

The natural way to approach this would be to not have a single global `Flask` instance but create one whenever necessary (different instance to a

[2018-01-21 23:20] mario-fuentes commented on #22
Thank you very much,  I'm closing this issue because it is not a bug.

[2018-01-21 23:20] #22 closed

[2018-02-09 11:44] ahayamb opened #23 "Route Injection doesn't work if flask application are run behind gunicorn"
Somehow, injector fail to inject route param when flask application are run behind gunicorn

[2018-02-09 18:27] jstasiak commented on #23
Hey,

To the best of my knowledge gunicorn makes no difference here and I've run Flask-Injector-based applications using guniconr. Can you provide a minimal code sample and steps required to reproduce the issue and describe what the issue is exactly?

[2018-02-09 23:25] ahayamb commented on #23
Thanks for reaching me back, here is the code
[code]

I'm using injector to inject `Client` object to the route. When I run the code via `python main.py` and hit the endpoint there is no error, but when I use gunicorn to run the code via `gunicorn --workers 4 main:app --bind :5000` I got this error message when I hit the endpoint
[code]

[2018-02-09 23:36] jstasiak commented on #23
That's quite expected, but first things first. Note that since you don't use the `inj` variable anywhere and Injector itself doesn't have side effects that matter in this context you can safely remote it as it's just noise. You're left with this:

[code]

Now - `FlaskInjector(...)` is where the Flask application gets instrumented to have Injector-backed dependency injection present. You put it ins

[2018-02-10 01:17] ahayamb commented on #23
Thank you, it works :+1:

[2018-02-10 01:17] #23 closed

[2018-04-16 20:39] yoanisgil opened #24 "flask-restful is a hard dependency"
I'm using flask-injector==0.10.1  alone with Flask-Restplus However Flask-Restful is a hard dependecy because otherwise the following error will be thrown:

[code]

[2018-04-16 20:40] yoanisgil commented on #24
The problem seems to be around these lines:

https://github.com/alecthomas/flask_injector/blob/master/flask_injector.py#L83

when trying to detect if flask_restful is being used.

[2018-04-16 20:55] jstasiak commented on #24
Can you provide a minimal code sample that triggers this?

[2018-04-16 21:11] yoanisgil commented on #24
The resource definition goes like this:

[code]

and the application is created like this:

[code]

And this is the Pipfile:

[code]

Let me know if this helps. For now I just installed flask-restful and it seems to do the trick.

[2018-04-18 09:37] Tommassino commented on #24
Ran into this aswell. Tried to go through the code and it seems it detects restplus as flask_restful. In `wrap_class_based_view` the variable `flask_restful_api` is assigned a flask_restplus.Api object.

[2018-04-18 12:35] yoanisgil commented on #24
That is indeed the case. Maybe it should look to the instance type instead of checking the presence of *kwargs* ? @alecthomas just curious,  why do we you need to check for flask_restplus specifically?

@Tommassino installing restplus fixed the error and I have not run into any major issue this far.

[2018-04-18 22:06] alecthomas commented on #24
Can you try master? The code looks quite different, and conditionally imports flask_restful.

[2018-04-18 22:08] yoanisgil commented on #24
I can give it a try, but what I see here:

https://github.com/alecthomas/flask_injector/blob/master/flask_injector.py#L83

seems to be the same as in 0.10.1 (there is actually a comment on at file that refers to 0.10.1)

[2018-04-18 23:45] yoanisgil commented on #24
I think there is:

https://github.com/alecthomas/flask_injector/blob/master/flask_injector.py#L171

Right?

[2018-05-29 11:05] rafales commented on #24
I just ran into the same problem. I have restplus installed (without restful).

@alecthomas this is indeed an import in `wrap_flask_restful_resource` function, you can view it here: https://github.com/alecthomas/flask_injector/blob/master/flask_injector.py#L171

 Why is this needed? Should we call the same thing for restplus or just skip it for restplus?

[2018-07-31 09:28] sherubthakur opened #25 "Cannot inject dependency when using decorators with view functions."
I was trying to use a decorator in my view function but seems like Flask-Injector cannot inject dependencies when we use a decorator.

Here is the diff of the test case:
[code]

Which then fails with the following error.

[code]

[2018-07-31 11:18] sherubthakur commented on #25
ok so if I use `functools.wrap` this is no longer a problem. https://docs.python.org/3/library/functools.html#functools.wraps.

Closing the issue.

[2018-07-31 11:18] #25 closed

[2018-10-19 19:07] yan130 opened #26 "the injector working with @app.before_request but not @app.before_first_request"
[code]

[2018-11-07 16:55] comtihon opened #27 "how request scope works with overrides? (it doesn't)"
Hi,
I have:

[code]
and

[code]

at some point (during one request) I do:
[code]
I expect all other pieces of code to recieve my override instance during this request.
But `A` is still recieved.

How can I get the desired behaviour (or where should I dig to fix it)?

Thanks!

[2018-11-07 17:19] jstasiak commented on #27
Can you provide an executable code sample that demonstrates the problem?

Note that while modifying bindings dynamically during handling of a request is technically possible it's not supported and quite likely not desired. Also it's not the binding that lives for a duration of a request but the instance of a type you're binding to - `app.injector.binder.bind(A, override, scope=RequestScope)` binds

[2018-11-08 08:48] comtihon commented on #27
Yeah,
This morning I made a fresh sight on my code and decided to use provider.
Thanks!

[2018-11-08 08:48] #27 closed

[2018-11-08 11:09] comtihon opened #28 "Module as singleton?"
Hi again!
As a workaround for https://github.com/alecthomas/flask_injector/issues/27 I've decided to have some kind of factory:

[code]
The problem is - AProvider is not always a singleton. It is singleton for all manuall requests to injector, but it uses another copy of AProvider when calling `provide` method. Thus this intent is now working.
Workaround for me is to use class.override instead on

[2018-11-08 11:21] jstasiak commented on #28
This won't work, modules aren't managed by Injector the way other types are and putting `@singleton` there won't work. You need to do something like:

[code]

But it still doesn't look good to me, there's a race condition in this code if your application is multi-threaded and the whole "set semi-global variable for the next request to get special treatment" business seems inconvenient at best.

I

[2018-11-09 13:36] comtihon commented on #28
Many thanks,
I've switched to request scopes.

[2018-11-09 13:36] #28 closed

[2018-11-12 15:56] #24 closed

[2018-11-12 16:11] #26 closed

[2018-11-12 16:19] jstasiak commented on #26
The 0.11.0 version that's just been released addresses this issue, thanks.

[2018-11-12 16:20] jstasiak commented on #24
The 0.11.0 version that's just been released addresses this issue, thank you for reporting it.

[2018-12-28 19:59] trondhindenes opened #29 "How to inject types which requires instantiation"
I'm getting aquainted with flask_injector, and find myself stuck with this problem:
Given a "Db" class which takes some instantiation code which can be quite slow (notice that this class gets injected a configuration object):
[code]

my injector right now looks like this:
[code]

and my flask resource (using flask-restful):
[code]

All of this works nicely, except for the fact that the DbContext's

[2018-12-28 23:43] trondhindenes commented on #29
awesome, that works. Thanks!!

[2018-12-30 15:47] #29 closed

[2019-01-04 11:55] trondhindenes opened #30 "handling requirements of the flask app itself (not a bug, looking for suggestions)"
I'm trying to refactor some existing flask apps, and have stumbled into this problem that I can't seem to figure out:
Given this app (relevant parts of the "main" flask app file):
[code]
We're using a configuration object with other classes can depend on, and it works great. However, I also need the same configuration object when instantiating the flask app itself (loglevel, flask host/port, etc a

[2019-01-04 15:58] trondhindenes commented on #30
To partly answer myself: I guess one solution would be to call `FlaskInjector` as early as possible after the flask `app` object is instantiated, and then use injector getters to get hold of the configuration object:
[code]

[2019-01-04 16:19] jstasiak commented on #30
Instantiated *and* fully initialised (all views, hooks and handlers attached), but yes, it'll work. Let me share how I solved a similar issue in the past though. Basically I stopped creating a global Flask application at module level and switched to the following pattern[1] (I modified your example to fit):

[code]

I don't know what application server you're using but it should support referring

[2019-01-04 16:20] trondhindenes commented on #30
nice, thank you! I'll play with that. Thanks!!

[2019-03-21 02:17] mvarga6 opened #32 "Memory leaks when exceptions thrown"
I've injected some objects into a route that I found is commonly throwing exception.  When this occurs, the app memory usage starts to climb every time another exception is thrown.  I'm using the `@injector` decorator on the function.  I'm thinking that the objects are injected "per request" and are not being cleaned up.  Does this seem possible or expected?

[2019-03-21 09:50] jstasiak commented on #32
Expected – no, possible – definitely. If you could check what types of objects accumulate in memory in your case that'd be helpful.

There was this case in the past for example: https://github.com/alecthomas/flask_injector/issues/9

[2019-03-27 19:56] Sytten opened #33 "Support for flask rebar"
I was wondering if it would be complex to support flask-rebar (https://github.com/plangrid/flask-rebar). Basically:
[code]

[2019-03-27 20:46] jstasiak commented on #33
Can you post a code sample to reproduce this? It should work out of the box (just tested it).

[2019-03-27 23:24] Sytten commented on #33
[code]
[code]
[code]

Ho thats great news, then it's most likely an import order problem. The code above is just a sample from my codebase, I will retry it again.

[2019-03-27 23:51] jstasiak commented on #33
Swap those two lines and you're good :)

[code]

PS. Decorating views, handlers etc. with `@inject` is not necessary.

[2019-03-27 23:52] Sytten commented on #33
Nice! I will try it asap <3

[2019-03-27 23:57] #33 closed

[2019-03-28 00:01] jstasiak commented on #33
Cool! For reference, it has to be done like this because `FlaskInjector` instantiation looks at Flask application's views, handlers etc. present at the time, it doesn't affect views attached to the Flask application afterwards – that's why having `rebar.init_app(app)` *after* `FlaskInjector` instantiation won't produce a working application.

[2019-03-31 15:55] mvarga6 commented on #32
@jstasiak Sorry for the delay (we've found work in the meantime).  I will still try to investigate what objects were accumulating. We're injecting custom objects that have a few edges of dependence. (Injecting a Client object -> Service object -> route methods).  I speculate this may be causing the gc from cleaning them up.

[2019-03-31 20:24] jstasiak commented on #32
No worries. If you could produce a test case that would allow us to reproduce this issue it'd make debugging this that much easier but I imagine it's not trivial.

[2019-04-03 20:57] ReneHollander opened #34 "Use instance method for url rules"
I am trying to add instance methods to handle different endpoints. The instance of the class itself is created by injector and will add the routes to the flask app.
Because FlaskInjector needs to be run after adding all endpoints, I also bind the Flask app during the initialization step of the app.
[code]

Running the app causes the following error:
[code]
I guess FlaskInjector just does not suppo

[2019-04-03 21:21] jstasiak commented on #34
Hmm, interesting, I haven't actually considered adding routes this way, hence this approach not being tested. Just so it's clear for the readers – it's bound instance methods specifically that cause troubles here.

This should not be terribly difficult to work around or fix in Flask-Injector itself. Example of a workaround:

[code]

(Just one of many possible approaches, I'm not saying it's partic

[2019-04-04 08:08] ReneHollander commented on #34
Thanks, I created a pull request for the fix.

(I also replaced class with instance in my original post)

[2019-04-05 07:48] #34 closed

[2019-04-08 18:38] Sytten opened #36 "Error with error handler and typing"
Hi!
I seem to have a found a bug with the error handler and typing. Consider this code:
[code]

If I remove the type on the error it works fine, but with the type:
[code]

Full Call stack:
[code]

[2019-04-08 18:52] jstasiak commented on #36
Hmm, yes, you're right. I'll see about fixing this, for the time being you should be able to work around it by decorating `handle_sqlalchemy_error` with `@noninjectable('error')` (`noninjectable` can be imported from `injector`).

[2019-04-27 11:36] jstasiak commented on #36
Injector 0.16.x released today should fix this (warning: the release breaks backward compatibility in some areas).

[2019-04-27 11:36] #36 closed

[2019-04-27 15:41] Sytten commented on #36
I believe you mean 0.12.x just for future reference

[2019-04-27 16:00] jstasiak commented on #36
Injector, not Flask-Injector: https://github.com/alecthomas/injector/commit/a25cd8ef27ad0e3d8e9fbe347a84985e3ff6836f

[2019-04-27 19:16] Sytten commented on #36
Ho right!

[2019-05-31 14:47] #30 closed

[2019-06-09 09:09] rollokb opened #37 "[Code review question] How to do teardown?"
Thanks for this project. I'm evaluating this as a way of managing dependencies in this large flask application I'm refactoring.

How would one manage cleanup of threadlocals, when you have to release things manually. In SQLAlchemy is this required, or anything that uses a threadpool.

I've made a working attempt (based off your example), but I'm not sure if it's the right direction.

[code]

----

[2019-06-09 20:04] jstasiak commented on #37
Your ideal scenario (the one with `yield` statement) looks interesting and I think we should explore this, but for now the code you pasted above is the best one can do I believe (I've used something like that before, it's not elegant but it does the job, so...).

[2019-06-11 23:41] rollokb commented on #37
@jstasiak

I made a stab at something that could do the job.

[code]

Works for me. But I'd love your review :)

[2019-06-13 11:16] jstasiak commented on #37
Seems like a nice little hack :)

Two notes to self:
* I don't even remember what the `CachedProviderWrapper` thing is for and why I added it, I need to find out and either document or remove it
* The `Scope` and `Binder` classes need some type hints so that it's clear what's what

As for your solution – my main concerns here would be:
* Tying handling of generator-based providers to particular sc

[2019-06-16 22:43] rollokb commented on #37
The cached CachedProviderWrapper is there to prevent multiple calls to `app.injector.get()` from calling the bound function multiple times.

I'll try and type hints.

About your concerns

So we could use `inspect.isgenerator` to decide weather to treat the provider as a generator. This would give the user the flexibility to use either a yield or return.

I think this is deterministically bound to

[2019-06-17 08:53] jstasiak commented on #37
The note about type hints was for myself – I need to add them (the relevant ones) to `injector` first and to `flask_injector` afterwards, it's a bit of a spaghetti situation, don't worry about it.

I don't think `__del__` will be called deterministically in all scenarios – GC is nondeterministic on PyPy and, if an object is a part of a reference cycle, on CPython as well. The request scope's `clea

[2019-07-07 19:07] JacksonToomey opened #38 "Error with flask method view"
When using flask's own MethodView with flask injector, the app fails with the error:
[code]

Here is an example that fails.

[code]

[2019-09-05 12:03] AbdoDabbas opened #40 "Any examples for Flask-RestPlus Resource constructors ?"
I read in the documentation that this also supports **Flask-RestPlus Resource constructors**, even though I could find neither here or on the internet any decent example that uses Flask-RestPlus with this library.

I tried my self and what I reached is that I need to consider the API resource like any other class and configure it with the **binder**, is that the correct way?

[2019-09-05 14:32] jstasiak commented on #40
There's [an example piece of code in the test suite](https://github.com/alecthomas/flask_injector/blob/b4570a3069c0fbd740feaa6523f8489772a1b1d4/flask_injector_tests.py#L308), I hope this helps.

[2019-09-06 07:20] AbdoDabbas commented on #40
Actually this example is ver simplified, here's a question I posted on Stackoverflow if you can have a look at:
https://stackoverflow.com/questions/57806445/using-flask-injector-with-flask-restplus-causes-an-error-when-calling-the-api-re

[2019-09-06 07:38] AbdoDabbas commented on #40
Strange thing, when the resource's constructor is written like this:
`def __init__(self, some_input: type_of_input, **kwargs):`
It works, but if I removed the `**kwargs` it will not, I think Flask-Injector is passing the `api` variable through `kwargs` for some reason.
Even if I didn't call the `super().__init__(*args, **kwargs)` it still works.

What's the reason that I have to add `kwargs` when

[2019-09-06 11:17] jstasiak commented on #40
This is the signature of [Flask-RESTPlus's `Resource` constructor](https://flask-restplus.readthedocs.io/en/stable/api.html#flask_restplus.Resource):

[code]
([source](https://flask-restplus.readthedocs.io/en/stable/_modules/flask_restplus/resource.html#Resource))

The `api` parameter is required in order for `Resource` to operate correctly. flask-injector [hardcodes this knowledge and passes api

[2019-10-18 17:51] Sytten opened #41 "Provide init_app"
As is custom with flask extensions, it would be nice to provide an `init_app` function (basically you move the logic from the `__init__` into this method.

[2020-01-04 05:36] ollien opened #42 "Cannot inject into teardown_request handler while using request scope"
If I have a request scoped variable, I cannot inject it into a `teardown_request` handler. If I do, I get the following exception.

[code]

After some digging, it seems that this is because Flask executes teardown handlers in the reverse order that they are inserted ([see relevant source](https://github.com/pallets/flask/blob/master/src/flask/app.py#L2278)). Because [flask_injector inserts the req

[2020-01-07 17:31] jstasiak commented on #42
Thanks for the report, this is something I think should be supported. I understand your hesitation, but I don't see any way to work around this other than to insert the teardown handler as the last one – with a proper test to make sure things keep working. I'll do that and make a release soon. The worst case scenario is this is changed in the future but I guess we'll have to cross that bridge once

[2020-01-07 17:35] ollien commented on #42
Well, inserted as the first one, but yes, same concept.  :)

If I find the time in the next day or so, I can open a PR with these changes. Like you said, we can cross the bridge when we come to it.

[2020-01-07 17:37] jstasiak commented on #42
Sorry, yes, the first one. I'll patch this today, but thanks anyway for wanting to help with it.

[2020-01-07 18:03] #42 closed

[2020-01-07 18:46] jstasiak commented on #42
The fix has just been released in version 0.12.1.

[2020-02-06 20:00] JacksonToomey commented on #38
Is there any update on this?

[2020-02-12 07:06] michaelbukachi opened #47 "Add support for Flask-restx"
`Flask-restplus` has been forked and is now actively maintained at [flask-restx](https://github.com/python-restx/flask-restx). Any plans to add support? I could do a PR.

[2020-02-12 10:01] jstasiak commented on #47
I didn't know about the fork, but a pull request will be appreciated. :)

[2020-02-12 10:05] michaelbukachi commented on #47
Great. On it.

[2020-02-12 10:19] michaelbukachi commented on #47
@jstasiak How do I run tests? Can't seem to figure it out.

[2020-02-12 10:24] jstasiak commented on #47
``make ci`` for tests + linters, otherwise ``make test`` for just tests (from https://github.com/alecthomas/flask_injector/blob/03b09d1b1173f7b2067410e749c9d37229406ea1/.travis.yml#L19)

[2020-02-12 10:31] michaelbukachi commented on #47
Oh. Silly me. I didn't check `travis.yml`

[2020-02-12 12:08] jstasiak commented on #38
I meant to have a look at this some time ago but I forgot and I don't have time now. Pull requests that fix this (if it's even possible) are welcome though.

[2020-02-12 13:15] michaelbukachi commented on #47
Thanks for fast response. How soon can we expect the next version?

[2020-02-18 21:35] davidrosenstark opened #49 "before_request"
Can you provide example of before_request? I have a fully working example with injection working on the routes but in the before request the injection is not using the singletons i have created in my AppModule configure function?
Thanks

[2020-02-18 21:40] jstasiak commented on #49
There's nothing special about `before_request`, see the way it's used in the tests: https://github.com/alecthomas/flask_injector/blob/043b05183d311cbbfa693546af866d11bb0fee74/flask_injector/tests.py#L49

I can't really say anything more without knowing what exact versions of your dependencies you're using (Python, Flask-Injector, Flask, Injector) and having a piece of code that demonstrates the is

[2020-02-19 04:03] davidrosenstark commented on #49
my bad. I didnt understand that the configure is called on each request thus rebinding but it will happily rebind my singletons.

[2020-02-19 04:03] #49 closed

[2020-02-19 07:17] jstasiak commented on #47
This is done now, can be closed.

[2020-02-19 07:17] #47 closed

[2020-02-19 07:20] jstasiak commented on #49
There may still be some misunderstanding here. If by `configure` you mean the [`Module.configure` method](https://injector.readthedocs.io/en/latest/api.html#injector.Module.configure) then the modules are only installed and configured once, not every request. You *can* install them every request, but that's totally not supported. If you provide some minimal code it'll be easier to say if something

[2020-02-20 20:56] macdjord opened #50 "Type-hinted list arg causes "TypeError: Injecting partially applied functions is no longer supported.""
# How to reproduce:

`test_app.py`:
[code]

`test_api.py`:
[code]

Execute query `GET http://test_app:5000/api/test?list_arg=a&list_arg=b`

# Expected result:

No error, response `{'list_arg': ['a', 'b']}`

# Actual result:

Error occurs:
[code]

# Affected versions:

`pip freeze`:
[code]

# Notes:

* If the type hint `List[str]` is removed from the argument `list_arg`, the injection works correct

[2020-02-20 21:54] jstasiak commented on #50
First of all thanks for a well written report, this is helpful.

There's no good solution for this right now because, if my understanding is correct, Connexion only gathers and provides the parameters (`list_arg` in this case) for a view after Flask already called the view and Flask-Injector attempted to provide the parameters. Only if Flask-Injector's dependencies gathering is successful the cont

[2020-02-21 14:25] macdjord commented on #50
@jstasiak Note that, if I remove the type hint, Flask-Injector ignores the parameter and Connexion successfully injects the value. Similarly, if, instead of a list, I have a scalar parameter -

[2020-02-21 14:34] macdjord commented on #50
@jstasiak Note that, if I remove the type hint, Flask-Injector ignores the parameter and Connexion successfully injects the value. Similarly, if, instead of a list, I have a scalar API parameter - `"type": "string"`, `"type": "number"`, `"type": "integer"`, or `"type": "boolean"` - and the function has a corresponding argument _with_ the appropriate type hint - `str`, `float`, `int`, or `bool` res

[2020-02-21 17:25] jstasiak commented on #50
If `auto_bind` (set in [Injector constructor](https://injector.readthedocs.io/en/latest/api.html#injector.Injector)) is `True` (and it's `True` by default, [Flask-Injector doesn't set it](https://github.com/alecthomas/flask_injector/blob/043b05183d311cbbfa693546af866d11bb0fee74/flask_injector/__init__.py#L311) Injector will treat every type as injectable type.

It doesn't matter in principle if it

[2020-02-21 22:27] Chratho commented on #42
Using version `0.12.2` of the plugin I still see flask-injector's teardown handler executing before my apps teardown handler, making injections into these handlers fail. Using blueprints, fwiw.

[2020-02-22 02:24] jstasiak commented on #42
What versions of Python and Flask are you using? Can you provide a piece of code to reproduce the incorrect behavior? I'm afraid the issue will be difficult to narrow down otherwise.

[2020-02-22 06:43] Chratho commented on #42
Python is `3.7.4`, Flask is `1.1.0`. The exception prints exactly as the one posted by @ollien, but I can try to provide some simplified sample in the evening. Could also upgrade Python and Flask to the latest versions if you wish.

[2020-02-22 12:53] jstasiak commented on #42
I think this reproduces the issue so no need for further investigation on your part:

[code]

[2020-02-22 13:40] jstasiak commented on #42
Flask-Injector 0.12.3 I just released should fix this for you.

[2020-02-22 18:38] Chratho commented on #42
Can confirm its working now. Many thanks for this amazingly fast fix!

[2020-02-23 18:37] jstasiak commented on #32
I can't reproduce this – please reopen with some additional information if it still happens in your application.

[2020-02-23 18:37] #32 closed

[2020-02-25 19:57] Chratho opened #52 "Enhancement: Make underlying injector accessible from library"
While integrating `Flask-Injector` I stumbled among a few cases where retrieving my injector-managed instances using dependency injection is not feasible. For example, I might have code like the following

[code]

where `cost_center` is some function-based decorator that measures runtime stats about the respective route and uses a `request`-scoped Stats-Collector to solve this task.

So far I thin

[2020-02-25 20:05] jstasiak commented on #52
I'm not sure why is using dependency injection here not feasible. I've done it in the past using the following pattern, but maybe it's not acceptable in your case (just off the top of my head, may not run without some changes):

[code]

[2020-02-25 20:05] Chratho opened #53 "Enhancement: Provide alias for `request` scope"
The `request` scope name directly clashes with the global `request` variable in Flask. Even when using the `injector`-style approach and injecting `flask.Request` into your handlers/services, the developer might still want to use a descriptive name like `request` for it, raising an issue again.

Since renaming the scope would not be backwards-compatible, it would be nice if `Flask-Injector` could

[2020-02-25 20:12] Chratho commented on #52
Wow, it took me some moments to get what's happening here... brilliant! Thank you very much..

[2020-02-25 20:12] #52 closed

[2020-02-25 20:13] jstasiak commented on #52
No worries. I'll keep in mind this may be mentioned somewhere in the documentation, could come in handy. :)

[2020-03-11 18:00] AhmedNourJamalElDin opened #54 "Running In Serverless Lambda Using serverless-wsgi"
Hello,
Is there a way to use this package without `app.run()` where serverless doesnt require running the app using the aforementioned command?

When using this package, for some reason I can't use "contructor injection", nor `injector.get(INTERFACE)` but this works:
[code]

Thanks :D

[2020-03-11 20:53] jstasiak commented on #54
I'm not entirely sure what this question is about. It'd help if you could provide

* a minimal, complete piece of code to reproduce the issue
* the interaction with the piece of code (the way you run it etc.) to reproduce the issue
* what the issue is (stack trace)
* the versions of the software you're running (Python, Flask, Flask-Injector, injector)

[2020-03-12 04:27] AhmedNourJamalElDin commented on #54
init_app.py
[code]
some resource file
[code]

the exception:
[code]

<details>
<summary>Stacktrace:</summary>

[code]

</summary>
</details>

Python: 3.7
Flask: 1.1.1 and 1.0.2
Flask-RESTful: 0.3.7
injector: 0.18.3
Flask-Injector: 0.12.3

Anything else? :D

TBH the code doesn't run `app.run()` at all because, you know, it's AWS Lambda, which acts like a normal python function which takes two argum

[2020-03-12 09:16] jstasiak commented on #54
`app.run()` shouldn't matter, Flask-Injector doesn't need it per se. I don't really know AWS Lambda, but what stands out from your example (which still seems incomplete so I can't run it) is this part:

[code]

Registering all views (even those owned by blueprints) needs to happen *before* `FlaskInjector` instance is created, otherwise they're not gonna be injected into.

[2020-03-12 12:30] AhmedNourJamalElDin commented on #54
Hollllllllllllllly :D

My bad, this solved my problem.

Thanks soooooooooooooooooo much <3

[2020-03-12 12:30] #54 closed

[2020-03-12 16:44] jstasiak commented on #54
No worries, good to hear it's working for you now. Also this should be documented better I think :)

[2020-04-24 11:56] rollokb opened #55 "Does not work if class based view is decorated."
[code]

The argument `fun` is the view function. If it's decorated, the value of fun.__code__.co_freevars will be scoped to the decorator, and it won't include `fun_closure['self']`

[2020-05-29 09:37] ahmadalli opened #57 "Using Dynaconf results in TypeError: __name__ must be set to a string object error"
Hi

If I Add `FlaskDynaconf(app)` before `FlaskInjector(app=app, modules=[init_inject])`, it'll result in `TypeError: __name__ must be set to a string object`

this is the dynaconf project: https://dynaconf.readthedocs.io/en/latest/guides/flask.html

[2020-05-29 10:45] jstasiak commented on #57
Please provide full stack trace and versions of the relevant software you're using, the exception itself provides almost no information.

[2020-05-30 06:41] ahmadalli commented on #57
sorry for lacking info. here's the stack trace:

[code]

[2020-05-30 06:42] ahmadalli commented on #57
if I run `FlaskDynaconf(app)` after `FlaskInjector(app=app, modules=[init_inject])` everything works fine

[2020-05-30 07:11] jstasiak commented on #57
Thanks. I have to repeat my request for you to provide full stack trace (including full file paths and package names, the trace you pasted is modified; you can mask some private/confidential details but not *this* much, I'd like to know what I'm dealing with and for the general structure to be intact) and versions of the relevant software (Python, Flask, Flask-Injector, Injector, Flask-Dynaconf).

[2020-06-10 06:38] ahmadalli commented on #57
sorry it took so long to answer, I was busy on other projects. here's an example project I set up: https://github.com/ahmadalli/flask-dynaconf-inject

when I run it with this commands, it fails with the same error:
[code]

[2020-08-04 08:45] TalyGin commented on #57
The same for me, using `FlaskDynaconf(app)` breaks `FlaskInjector` call with mentioned error

[2020-10-21 16:13] zeidlerb commented on #57
I'm having the same issue. The problem seems to be that the current logic assumes that everything that has the `__bindings__` or `__call__` attribute should be wrapped. However, `@functools.wraps` tries to set the `__name__` attribute of the wrapping function (among others), which is problematic in this case, since the Dynaconf Configuration [can be called](https://github.com/rochacbruno/dynaconf/

[2020-12-15 15:44] MariposaGentil commented on #40
dependency_injector needs that constructor for calling itself, I've been diving into the documentation and no one mentions that this is a thing to consider, maybe should be included.

[2021-02-22 12:26] jmarente opened #59 "Error trying to use Werkzeug request object outside of request context"
I get the following error when using `FlaskInjector`:

[code]

It did not happened before and I have not changed versions of either `Flask`, `Injector` or `FlaskInjector` in a long time, so I think it might be related to a new version of Flask dependency `Werkzeug`.

Used versions:
- Python: 3.8.1
- Flask: 1.1.2
- Injector: 0.18.3
- FlaskInjector: 0.12.3
- Werkzeug: 2.0.0rc1

Did anyone have the s

[2021-02-22 17:35] jstasiak commented on #59
Thanks, please provide some more information: the exact Python and Werkzeug versions (for the latter both a working and non-working versions would be appreciated, but only non-working one is fine).

[2021-02-22 17:43] jmarente commented on #59
@jstasiak I updated the description with the missing versions.

About `Werkzeug`, looks lie Flask requires any version greater than 0.15:

https://github.com/pallets/flask/blob/master/setup.py#L13

[2021-02-22 17:45] jstasiak commented on #59
Thanks!

[2021-02-22 20:17] #59 closed

[2021-02-22 20:19] jstasiak commented on #41
Thank you for the note, I'll close this issue as I don't have plans to implement it but pull requests are certainly welcome.

[2021-02-22 20:19] #41 closed

[2021-05-14 07:14] dz0 commented on #59
also probably solved by https://github.com/pallets/flask/commit/6d8b4ce9d037937ef8694067ab5754666240d097

[2021-05-18 10:16] mrKAndrew opened #65 "program fall on FlaskInjector(app=app, injector=injector)"
I have Flask app with flask-injector with creat function.

`def create_app(testing: bool = False) -> Flask:
    app = Flask(__name__)
    config_app(app, testing)
    db.init_app(app)
    migrate.init_app(app, db)
    router.init_app(app)
    CORS(app)
    # Setup injector
    injector = Injector([AppModule(app.config)])
    FlaskInjector(app=app, injector=injector)
    return app
`
when i start a

[2021-05-19 09:59] lacer93 commented on #65
Something similar also happens for me with `Flask==2.0.0`.

[2021-05-22 21:20] clementta-tagheuer commented on #65
This commit fixes it: https://github.com/alecthomas/flask_injector/commit/b57e5e054a8e3886f8804bdd367a8b353c4b3b19

It is fixed in master branch but not released yet.
Solution would be to have a 0.12.4 release

[2021-05-23 20:22] jsr1337 opened #66 "injector._BindingNotYetAvailable: name 'Response' is not defined"
Hello,
based on code from this post: https://github.com/alecthomas/flask_injector/issues/40 injector throws the above error. My code is almost identical, the only difference is flask_restful instead of flask_restplus:

from flask import Flask
from flask_restful import Api, Resource
from flask_injector import FlaskInjector, inject, singleton

app = Flask(__name__)
app.secret_key = "123"
api = Api(a

[2021-06-05 01:28] ansonnn07 commented on #65
I’m having the same issue when using FlaskInjector. Had to downgrade both Flask and Werkzeug versions to below 2.0 to make it work.

[2021-06-10 09:51] ghostman2013 commented on #66
I have the same error (Python 3.9 x64, Flask v2.0.1, Flask-Injector v0.12.3)

[2021-06-10 10:14] ghostman2013 commented on #66
My code that worked on older versions of Flask-Injector:

[code]

And base REST-resource:
[code]

What's wrong with this code? Unfortunately, debugging didn't help me. I found that the error happens in `get_type_hints()` function in `injector` module but I still can't get a reason of this error and how to fix it.

Error:

[2021-06-12 11:05] evgenyk-storexray commented on #65
@clementta-tagheuer, huge thanks for fixing the issue.
Do you know when 0.12.4 will be released ?
It is a real blocker, since I'm Flask 2.x.x for async support and Injector doesn't supports new Flask.

[2021-06-14 07:13] clementta-tagheuer commented on #65
Hi @evgenyk-storexray, unfortunately I can't do releases for this project.
We need either @alecthomas  or @jstasiak to do it.

Meanwhile, I suggest you force Flask to 1.1.4 in your project, or drop Flask Injector dependance.

[2021-06-15 09:44] clementta-tagheuer commented on #66
Hi,
See https://github.com/alecthomas/flask_injector/issues/65

TL;DR : Issue with Flask > 2 using werkzeug > 2

[2021-06-16 20:00] EvgenyKhaliper commented on #65
Thanks, @clementta-tagheuer hopefully, one of them will be here soon. lol

[2021-06-28 10:43] benomalley25 commented on #65
@alecthomas , @jstasiak any updates on when the above bugfix could be released?

[2021-07-08 20:34] heydev commented on #65
Same, blocker for us since we won't downgrade Flask.

[2021-07-09 00:09] jstasiak commented on #65
This project doesn't work with Flask 2 yet. I'm afraid there'll be no releases until https://github.com/alecthomas/flask_injector/issues/66 is resolved (and I have no time to work on it).

[2021-07-09 22:38] davidPalechor opened #68 "Any examples for flask_restful Resources?"
Hey!

Im trying to build an app using flask_restful library but I couldn't find an example of `flask_injector` together with restful.

Is there any example out there? I tried to replicate the behavior used in `flask_restplus` implementation but it is not working.

Thanks in advance

[2021-07-09 22:55] jstasiak commented on #68
Hey, this is the only example available that I know about: https://github.com/alecthomas/flask_injector/blob/445775737f2b0b7473fc2ce33aa4099be2c79c9d/flask_injector/tests.py#L286

[2021-07-14 14:02] mic4ael commented on #65
Any update on this?

[2021-07-31 05:56] remirab commented on #65
@alecthomas , @jstasiak please release the latest version. It's a real blocker.

[2021-07-31 07:20] jstasiak commented on #65
I don't think there's anything to release, but please show a minimal, complete piece of code (together with the versions of Python, Flask, Werkzeug and any other relevant packages) that fails on the last released version but works with the master branch and I'll reconsider.

[2021-08-20 11:28] nielspedersen commented on #65
Hi! I just hit this issue, but only on Windows. It works fine on macOS for me. Here is a very small example that reproduces the issue on my end:

`requirements.txt`:

[code]

`main.py`

[code]

[2021-08-20 20:04] jstasiak commented on #65
@nielspedersen Thanks, two bits missing still: what Python and Werkzeug versions?

[2021-08-23 09:12] nielspedersen commented on #65
@jstasiak

Sorry for the missing details - I missed that.

[code]

[code]

So python 3.7.9 and Wekzeug 2.0.1

[2021-08-31 19:51] jstasiak commented on #65
@nielspedersen Thank you for the update, all the information needed is there and I can reproduce the issue. I'll release something shortly.

[2021-08-31 21:57] jstasiak commented on #65
This is fixed in 0.13.0. Thank you everyone for the information.

[2021-08-31 21:57] #65 closed

[2021-08-31 21:57] jstasiak commented on #66
Fixed in 0.13.0, thank you for the report.

[2021-08-31 21:57] #66 closed

[2021-09-09 08:34] FabienArcellier opened #69 "name 'Response' is not defined"
On Flask 2, I get this error every time I run a query.  I have solved the issue only changing the code of Flask-Injector but I am not confident with the impact of the change I have done.

This error is present when you run the unit test suite.
The fix I propose broke the test `test_forward_references_work` :(.

Version:

[code]

[code]

I track the root cause in `wrap_fun` that is supposed to mana

[2021-09-15 04:27] mallycrip commented on #66
Hello. Is this error fixed?

I have the same error
[code]
Here is my environment
[code]
[code]

[code]

[2021-11-20 11:00] valentk777 commented on #65
I still get this in Flask-Injector==0.13.0

`
def create_app(modules=[]) -> Flask:
    app = Flask(__name__)
    api = Api(app)
    api.add_resource(HealthResource, '/health', '/api/v1/health')
    FlaskInjector(app=app, modules=modules)
    return app
`

`
class HealthResource(Resource):
    def get(self):
        logger.info("Health request")
        return {
            'status': 'OK',

[2021-11-20 11:13] jstasiak commented on #65
Please provide the Flask and Python versions you're using and what error exactly are you getting (with full stack trace)

[2021-11-20 12:29] valentk777 commented on #65
Python 3.9
Flask 2.0.2

[code]

[2021-11-20 13:30] valentk777 commented on #65
Looks like it was a local env issue. Cannot reproduce after complete env clean up and re-installation.

[2021-11-20 14:58] valentk777 commented on #65
I will move to flask 1.1.2 to temporarily avoid the issue

[2022-03-05 16:57] zhangcheng commented on #69
At current release tag of [v0.13.0](https://github.com/alecthomas/flask_injector/releases/tag/v0.13.0), `make test` has 4 test cases failed with this exception.

[code]

Exception stack trace such as:
[code]

Current state of dependencies (partial):
[code]

@alecthomas would you please advise here?

[2022-03-05 17:14] zhangcheng commented on #69
The above PR #71 is the proposed fix from @FabienArcellier, and as he said, now only the case `test_forward_references_work` failed.
But I have no idea how to fix here, more wisdom is indeed very needed. 🥲

[code]

[2022-04-08 13:15] afrischk commented on #66
Same here.  I use

[code]

[2022-04-08 13:41] ghostman2013 commented on #66
We have downgraded Flask version to <2.0.0, it helped. Unfortunately, it was a radical way that may not suit for you. I don’t work with Flask for few months already, so I don’t know if the situation was changed.

[2022-04-08 13:50] afrischk commented on #66
Thanks for the reply. Unfortunately I don't think this will be an option for me.

[2022-04-14 10:23] afrischk commented on #66
I worked around the issue by replacing the dependency injection container.

[2022-04-19 11:04] wgebis commented on #69
Any updates here? I'm facing he same issue, hot from @FabienArcellier works for me. Anyone know what about the failing tests?

[2022-04-19 12:44] rshah88 commented on #65
Any update on this issue ? still reproducing on 0.13.0...not sure how it got closed.

[2022-04-20 09:01] wgebis commented on #69
@rshah88 I forked fix from PR and now flask_injector is a part of source code of my project - it's only one file, easy to embed. It's not elegant ;) but in the meantime it's good enough.

[2022-05-13 06:46] acamu commented on #69
Hi all,
Same issue for me. If a contributor can look the issue, it will be appreciated :)

[2022-05-31 08:50] #69 closed

[2022-06-15 00:15] jstasiak commented on #69
This is finally resolved in Flask-Injector 0.14.0 (fingers crossed). Warning: there are hard requirements for the latest Flask and Injector involved.

[2022-06-15 00:15] jstasiak commented on #65
Resolved in Flask-Injector 0.14.0.

[2022-06-16 21:06] aholmes opened #76 "0.14.0 release breaks semantic versioning"
Hi,

First, this issue assumes this repository's releases follow semantic versioning. If not, I ask to consider doing so.

Regarding 812168f057702b4e86bb0328fd3760ff0ada3ae8, the change to require Flask 2.1.2 is a breaking change. Semantic versioning calls for a "major" version number increment when this occurs. This matters for automation pipelines, notably (given this is GitHub) Dependabot may a

[2022-06-17 19:49] jstasiak commented on #76
Hey,

I'm sorry that this created issues for you.

Seeing how the version bump follows an already established (although undocumented) versioning scheme, there's no promise to follow semantic versioning *and* the breaking change is explicitly documented I'll close this issue.

Somewhat ironically this version bump is still kind of consistent with semantic versioning anyway, because we're using majo

[2022-06-17 19:49] #76 closed